<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eth</key>
	<string>Ethereum</string>
	<key>xmr</key>
	<string>Monero</string>
	<key>rvn</key>
	<string>Raven</string>
	<key>grin29</key>
	<string>Grin-29</string>
	<key>zec</key>
	<string>ZCash</string>
	<key>etc</key>
	<string>Ethereum Classic</string>
	<key>pasc</key>
	<string>Pascal</string>
</dict>
</plist>
